name: Build Astrake EMS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest

    - name: Install Dependencies
      run: bun install

    - name: Run Release Build
      run: bun run release

    - name: Upload Executable
      uses: actions/upload-artifact@v4
      with:
        name: astrake-ems-exe
        path: release/astrake-ems.exe
